.app {
  background-color: white;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.app--dices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.app--btnAndRes{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.app--btnAndRes--roll {
  padding: 1rem 4rem;
  outline: none;
  border: none;
  background: #5035ff;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}


.confetti {
  z-index: -6;
}
.app--btnAndRes--res--view{
  font-size: 1rem;
  color: black;
}
@media screen and (min-width:768px) {
  .app--dices {
    grid-template-columns: repeat(5, 1fr);
  }
  .app{
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 700px;
    height: auto;
    display: initial;
    flex-direction: initial;
    justify-content: initial;
  }
  .app--dices{
    gap:30px
  }
  .app--btnAndRes--res{
    display: flex;
    gap: 2rem;
  }
}